.container{
    
    height: 600px;
    width: 600px;
    border: 20px solid black
}
body{
    display: flex;
    justify-content: center;
}
.grid{
    background-color: red;
    height: calc(600px / 16);
    width: calc(600px / 16);
}